<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin-b-30">
                <h3>Informations</h3>
                <p>
                    Salle de f&ecirc;tes. R&eacute;servations possibles en temps r&eacute;el. Menus enfants. Resto ambiance. Musique live. Parking et Spectacle. Espace fumeurs. A emporter, Wi-fi. De Nuit. Enfants bienvenus. Menu v&eacute;g&eacute;tarien.
                </p>
                <h5><a href="#">En savoir plus ...</a></h5>
            </div>
            <div class="col-md-3 margin-b-30">
                <h3>Heures d'ouverture</h3>
                <p><span class="text-color">Lundi : </span>Ferm&eacute;e</p>
                <p><span class="text-color">Midi :</span> 12h30 - 14h30</p>
                <p><span class="text-color">Soir :</span> 18h30 - 23h00</p>
            </div>
            <div class="col-md-3 margin-b-30">
                <h3>Contactez nous</h3>
                <p class="lead">
                    Rue Léon Jouhaux 81 &ndash; 1050 Ixelles
                </p>
                <p class="lead"><a href="#">02 999 90 90</a></p>
                <p><a href="mailto:broadway1410@gmail.com">babyluna@gmail.com</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="list-inline f-social">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
                <span>&copy; Copyright 2016. BabyLuna. <a href="http://bootstraplovers.com/">Template by design_mylife</a></span>
            </div>
        </div>
    </div>
</footer>